* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Titillium Web";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER */
header {
  position: relative;
  color: #fff;
  box-shadow: 0px 8px 15px -2px rgb(0, 0, 0, 0.2);
}

header p {
  font-size: 3rem;
}

header > nav > .logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #585252;
  padding: 2em;
}

nav > .logo > img {
  grid-column: 1;
  width: 8vw;
}

nav > .logo > p {
  grid-column: 2/7;
  align-self: center;
  justify-self: center;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 1.1rem;
}

/* ***************************** MAIN *************************************** */
main {
  padding: 10vw;
  color: #000;
  background: rgb(255, 209, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main > h1 {
  margin-bottom: 1em;
}

/* TABLE */
.table-moduls {
  background: #f2e9ea;
  border-radius: 20% 4% 15% 8%;
  padding: 1.8em 2em;
}

table {
  padding: 1em 1.2em;
  border-radius: 20% 4% 15% 8%;
  border-spacing: 0;
  /* border-collapse: collapse; */
}

thead {
  border-bottom: 2px solid pink;
  font-size: 1.3rem;
}

tbody tr:nth-child(2n - 1) {
  background: #bea3ac;
  color: #fff;
}

tr > td:first-child {
  border-radius: 10px;
  box-shadow: 9px 0px 0px 0px #f2e9ea;
}

tr > td:last-child {
  border-radius: 0 10px 10px 0;
}

td,
th {
  padding: 1em;
  text-align: center;
}

td a,
.btn {
  padding: 0.2em 1em;
  border: 3px solid pink;
  border-radius: 0.7em;
  cursor: pointer;
  background: #f2e9ea;
  color: #000;
}

/* FORM */
form {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em;
  gap: 1em;
  background: #f2e9ea;
  border-radius: 20% 4% 15% 8%;
}

form input {
  height: 3em;
  width: 60%;
}

/* Select all children to 2 */
/* form > div:nth-child(-n + 2) {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
} */

form > div:nth-child(-n + 2) label {
  align-self: center;
}

form > div:nth-child(3) label {
  display: block;
  /* padding-left: 2em; */
  margin-bottom: 1em;
}

input:not([type="submit"], [type="button"], [type="reset"]),
textarea,
select {
  border: pink 3px solid;
  outline: none;
  border-radius: 7px;
  padding: 0.5em 0.7em;
}

input,
textarea {
  transition: 0.3s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: rgb(46, 196, 46);
  box-shadow: 0px 10px 7px -7px rgb(0 0 0 / 20%);
}

textarea {
  display: block;
  width: 100%;
  height: 10em;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.btn-container > input {
  color: #fff;
  border: #fff 3px solid;
  border-radius: 7px;
  width: 140px;
  height: 30px;
  transition: 0.3s ease-in-out;
}

.btn-container > input:hover {
  box-shadow: 0px 10px 7px -7px rgb(0 0 0 / 20%);
  transform: scale(1.03);
}

.btn-container > input:first-child {
  background: green;
}

.btn-container > input:last-child {
  background: red;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form > div input,
form > div select,
form > div input:not([type="submit"], [type="reset"]) {
  width: auto;
}

/* ************************************** FOOTER *************************** */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #585252;
  color: #fff;
  padding: 2.5em;
}

footer a {
  color: #fff;
}

footer > div {
  align-self: center;
  justify-self: center;
}

.logo-footer img {
  width: 10vw;
}
